@import url('../assets/buttons.css');

#title {
  vertical-align: 3px;
}
#host {
  margin-bottom: 20px;
  width: calc(100% - 0.5em);
}
.float--right {
  float: right;
}
#btnCopy {
  margin-left: 5px;
}
#lbCode {
  vertical-align: -10px;
}
#code {
  width: calc(100% - 0.5em);
}
